*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-default;
  font-size: $font-size-normal;
  box-sizing: border-box;
  background: $color-background-gery;
}
